In [1]:
import data_loader
import numpy as np
import pandas as pd
import sklearn.preprocessing as preprocessing
import matplotlib.pyplot as plt
import sklearn.linear_model as linear_model
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
# from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

# np.random.seed(0)
# np.__version__

In [2]:
column_names = [
     'age', 'workclass', 'fnlwgt', 'education', 'education-num', 
     'marital-status', 'occupation', 'relationship', 'race', 'sex', 
     'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'salary']
# df = pd.read_csv("data/adult.data", header=None, names=column_names)
# print(df.shape)
# df.sample(n=3)

In [3]:
train, validation = data_loader.load_train_data('data/adult.data')
train['train'] = 1
train['test'] = 0
# train.sample(n=3)

In [4]:
validation['train'] = 0
validation['test'] = 0
# validation.sample(n=3)

In [5]:
test = data_loader.load_test_data('data/adult.test')
test['train'] = 0
test['test'] = 1
# test.sample(n=3)

In [6]:
df_combined = pd.concat([train, validation, test])
df_combined.columns = column_names + ['train','test']
df_combined.sample(n=3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,train,test
17133,31,Private,176410,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,38,United-States,<=50K,1,0
26123,40,Private,83953,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,>50K,1,0
961,32,Private,169240,HS-grad,9,Divorced,Machine-op-inspct,Not-in-family,White,Female,0,0,38,United-States,<=50K,1,0

In [7]:
for c in df_combined.columns:
    df_combined[c] = df_combined[c].replace(' ?', np.nan)

df_combined['salary'] = df_combined['salary'].replace(' <=50K.', ' <=50K')
df_combined['salary'] = df_combined['salary'].replace(' >50K.', ' >50K')
df_combined.dropna(how='any',inplace=True)

In [8]:
df_combined['salary'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [9]:
df_encoded = pd.get_dummies(df_combined)

for i in df_encoded.columns:
    print(i)

age
fnlwgt
education-num
capital-gain
capital-loss
hours-per-week
train
test
workclass_ Federal-gov
workclass_ Local-gov
workclass_ Private
workclass_ Self-emp-inc
workclass_ Self-emp-not-inc
workclass_ State-gov
workclass_ Without-pay
education_ 10th
education_ 11th
education_ 12th
education_ 1st-4th
education_ 5th-6th
education_ 7th-8th
education_ 9th
education_ Assoc-acdm
education_ Assoc-voc
education_ Bachelors
education_ Doctorate
education_ HS-grad
education_ Masters
education_ Preschool
education_ Prof-school
education_ Some-college
marital-status_ Divorced
marital-status_ Married-AF-spouse
marital-status_ Married-civ-spouse
marital-status_ Married-spouse-absent
marital-status_ Never-married
marital-status_ Separated
marital-status_ Widowed
occupation_ Adm-clerical
occupation_ Armed-Forces
occupation_ Craft-repair
occupation_ Exec-managerial
occupation_ Farming-fishing
occupation_ Handlers-cleaners
occupation_ Machine-op-inspct
occupation_ Other-service
occupation_ Priv-house-serv
occupation_ Prof-specialty
occupation_ Protective-serv
occupation_ Sales
occupation_ Tech-support
occupation_ Transport-moving
relationship_ Husband
relationship_ Not-in-family
relationship_ Other-relative
relationship_ Own-child
relationship_ Unmarried
relationship_ Wife
race_ Amer-Indian-Eskimo
race_ Asian-Pac-Islander
race_ Black
race_ Other
race_ White
sex_ Female
sex_ Male
native-country_ Cambodia
native-country_ Canada
native-country_ China
native-country_ Columbia
native-country_ Cuba
native-country_ Dominican-Republic
native-country_ Ecuador
native-country_ El-Salvador
native-country_ England
native-country_ France
native-country_ Germany
native-country_ Greece
native-country_ Guatemala
native-country_ Haiti
native-country_ Holand-Netherlands
native-country_ Honduras
native-country_ Hong
native-country_ Hungary
native-country_ India
native-country_ Iran
native-country_ Ireland
native-country_ Italy
native-country_ Jamaica
native-country_ Japan
native-country_ Laos
native-country_ Mexico
native-country_ Nicaragua
native-country_ Outlying-US(Guam-USVI-etc)
native-country_ Peru
native-country_ Philippines
native-country_ Poland
native-country_ Portugal
native-country_ Puerto-Rico
native-country_ Scotland
native-country_ South
native-country_ Taiwan
native-country_ Thailand
native-country_ Trinadad&Tobago
native-country_ United-States
native-country_ Vietnam
native-country_ Yugoslavia
salary_ <=50K
salary_ >50K

In [12]:
df_encoded.to_csv('data/combined_adult.csv')

In [ ]:
for i in range(train.shape[1]-1):
    print('Feature {:2d} count  -  Training: {:5d}, Validation: {:5d}, Test: {:5d}'.format(i, train[i].nunique(), val[i].nunique(), test[i].nunique()))